@import url("./index.css");

#product-details-section {
    padding: 20px 0;
}

.dsc-product-details-top {
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.dsc-product-details-top img {
    width: 220px;
}

.dsc-product-details-bottom {
    padding: 10px 20px 20px 20px;
}

.dsc-product-details-bottom h3 {
    color: var(--dsc-color-font-secondary);
    font-size: 20px;
}

.dsc-product-details-bottom h4 {
    color: var(--dsc-color-font-primary);
    font-size: 12px;
}

.dsc-product-details-bottom p {
    color: var(--dsc-color-font-primary);
    font-size: 12px;
    margin: 10px 0;
}

.dsc-category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.dsc-category {
    background-color: var(--dsc-color-bg-tertiary);
    height: 30px;
    color: var(--dsc-color-font-tertiary);
    font-weight: 700;
    font-size: 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    width: inherit;
}